body {
  background-color: rgb(44, 94, 233);
}

#app {
  color: rgb(255, 255, 255);
  max-width: 50%;
  margin-left: 25%;
}

/* #stats {
  display: flex;
} */
#scramble_div {
  margin: 20px;
}

#timer_div {
  margin: 20px;
}

#aggr_tbl {
  margin: 20px;
}

#solves_tbl {
  margin: 20px;
}
#solves_tbl th {
  margin: 20px;
  border-bottom: 1px solid;
}
#solves_tbl td {
  padding: 3px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  margin: 20px;
}
#solves_tbl td:first-child {
  /* border-left: 1px solid; */
  padding: 5px;
}
#solves_tbl td:last-child {
  border-top: none;
  border-bottom: none;
  border-right: none;
  padding: 5px;
}

#solves_tbl button {
  background-color: rgb(44, 94, 233);
  border: none;
  color: rgb(255, 255, 255);
}
