<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>CubeFlow</h1>

      <br />

      <div>
        <h2 id="scramble"></h2>
        <button onclick="generateScramble()">New Scramble</button>
      </div>

      <br />

      <div>
        <h2 id="timer">0.00</h2>
        <button id="timer_btn" onclick="toggleTimer()">Start Timer</button>
      </div>

      <br />

      <h1>Stats</h1>

      <div id="stats">
        <h4>Last Solve:</h4>
        <p id="last"></p>

        <h4>Best Solve:</h4>
        <p id="best"></p>

        <h4>Avg 3:</h4>
        <p id="avg3"></p>

        <h4>Avg 5:</h4>
        <p id="avg5"></p>

        <h4>Avg 12:</h4>
        <p id="avg12"></p>

        <h4>Lifetime Avg:</h4>
        <p id="avgAll"></p>

        <h4>Solves</h4>
        <ul id="solves_tbl"></ul>
      </div>
    </div>

    <script src="../static/index.js"></script>
  </body>
</html>
