<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div>
        <h1>CubeFlow</h1>
      </div>

      <br />

      <div>
        <h2 id="scramble"></h2>
        <button onclick="generateScramble()">New Scramble</button>
      </div>

      <br />

      <div>
        <h2 id="timer">0.00</h2>
        <button onclick="toggleTimer()">Start Timer</button>
      </div>

      <br />

      <h2>Stats</h2>

      <div id="stats">
        <h5>Last Solve:</h5>
        <p id="last"></p>

        <h5>Best Solve:</h5>
        <p id="best"></p>

        <h5>Avg 3:</h5>
        <p id="avg3"></p>

        <h5>Avg 5:</h5>
        <p id="avg5"></p>

        <h5>Avg 12:</h5>
        <p id="avg12"></p>

        <h5>Lifetime Avg:</h5>
        <p id="avgAll"></p>
      </div>
    </div>

    <script src="../static/index.js"></script>
  </body>
</html>
